# Django and related packages
Django
python-dotenv

# Database
mysqlclient  # For MySQL support

# LangChain and related packages
langchain-core
langchain-community
langchain
langchain-huggingface
langchain-chroma

# Machine Learning and AI
torch
transformers
sentence-transformers
chromadb
llama-cpp-python
huggingface-hub

#additional packaged for the my_rag.py
langchain-openai
termcolor

# Utility packages
numpy
pandas
tqdm
typing-extensions
typing-inspect
# python-magic  # For file type detection

# Note:

# For macOS, you might need to install additional system dependencies:

# bashCopy
# brew install cmake
# brew install python-magic

# For Windows, replace python-magic with:

# bashCopypip install python-magic-bin